.row {
  clear: both;
}
body {
  padding: 0;
}
.top {
  width: 100%;
  height: 32px;
  background-color: #dddddd;
  margin: 0;
  padding: 8px;
}
.narrow {
  width: 192px;
}
.notnarrow {
  width: 384px;
}
.bar {
  float: left;
  margin: 2px;
  background-color: #dddddd;
  padding: 4px;
}
.bar .bar {
  width: 96%;
  float: left;
  margin: 2px;
  background-color: #bbbbbb;
  padding: 4px;
}
.bar .bar .entry {
  background-color: #aaaaaa;
  margin: 2px;
}
.wide {
  width: 576px;
}
.entry {
  background-color: #bbbbbb;
  margin: 2px;
  clear: both;
}
input[name="search"] {
  width: 90%;
}
.mediumheight {
  height: 240px;
}
.containy {
  overflow-y: hidden;
}
.containx {
  overflow-x: hidden;
}
.contain {
  overflow-y: hidden;
  overflow-x: hidden;
}
.barhead {
  background-color: #aaaaaa;
}
.key {
  display: block;
  float: left;
  width: 48%;
  text-align: right;
  padding-right: 4px;
  border-right: 1px solid #bbbbbb;
}
.keywithcb {
  display: block;
  float: left;
  width: 44%;
  text-align: right;
  padding-right: 4px;
  border-right: 1px solid #bbbbbb;
}
.keywithcb input[type="checkbox"] {
  float: right;
}
.value {
  display: block;
  float: left;
  width: 48%;
  padding-left: 4px;
  border-left: 1px solid #bbbbbb;
}
.true {
  color: #0F0;
  background-color: #aaaaaa;
}
.false {
  color: #F00;
}
.registerbutton {
  display: block;
  float: right;
}
