@font-small: '../fonts/Bellerose.ttf';
@images: "../images";
html {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: black;
}

#room-container {
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    width: 100%;
    height: 100%;
    -webkit-perspective-origin: 50% 35%;
    -moz-perspective-origin: 50% 35%;
    -ms-perspective-origin: 50% 35%;
    -o-perspective-origin: 50% 35%;
    perspective-origin: 50% 35%;
}
.wall {
    margin: 0;
    position: absolute;
}

#left,#right {
//    background: url('../images/output.gif');
    opacity: 0.6; 
}
#top, #bottom {
    background: black;
}
#back {
//   background-image: url('../images/inci.gif');
    background-size: 100%;
}
.front {
    width: 100%;
    height: 45%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}
/*
#front0{
    background-color: rgba(255, 0, 0, 0.3);
}
#front1{
    background-color: rgba(0, 255, 0, 0.3);
}
#front2{
    background-color: rgba(0, 0, 255, 0.3);
}
#front3{
    background-color: rgba(255, 255, 255, 0.3);
}
 */
.iconholder{
    width: 24.5%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    float: left;
    z-index: 20;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    /*          -webkit-filter: drop-shadow(0px 0px 5px #d78900);
    filter: drop-shadow(0px 0px 5px #d78900); */
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out; 
}
.iconbounce {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
}
.icon {
    text-align: center;
    margin: 0;
    padding: 0;
}
#beach-lg { background-image: url('../images/Beach.png')}
#events-lg { background-image: url('../images/Events.png')}
#icare-lg { background-image: url('../images/iCare.png')}
#informalz-lg { background-image: url('../images/Informalz.png')}
#pronites-lg { background-image: url('../images/Pronites.png')}
#workshop-lg { background-image: url('../images/Workshop.png')}

.row{
    width: 100%;
    height: 25%;
}

.cell
{
    width: 24.5%;
    height: 100%;
    display: inline-block;
}
.cellshadows{
    -moz-box-shadow:    inset 0 0 40px #000000;
    -webkit-box-shadow: inset 0 0 40px #000000;
    box-shadow:         inset 0 0 40px #000000;
}
.stretchedbg(@bg) {
    background-image: @bg;
    background-size: 100%;
}
@bluedim: url("@{images}/bluedim.png");
@blueglow: url("@{images}/blueglow.png");
@greendim: url("@{images}/greendim.png");
@greenglow: url("@{images}/greenglow.png");
@yellowdim: url("@{images}/yellowdim.png");
@yellowglow: url("@{images}/yellowglow.png");
@reddim: url("@{images}/reddim.png");
@redglow: url("@{images}/redglow.png");

.tog4
{  
    .cellshadows;
    .stretchedbg(@bluedim);
}
.tog4:hover
{
    .stretchedbg(@blueglow);
}
.tog3
{ 
    .cellshadows;
    .stretchedbg(@greendim);
}
.tog3:hover
{
    .stretchedbg(@greenglow);
}
.tog2
{ 
    .cellshadows;
    .stretchedbg(@yellowdim);
}
.tog2:hover
{
    .stretchedbg(@yellowglow);
}
.tog1
{ 
    .cellshadows;
    .stretchedbg(@reddim);

}
.tog1:hover
{
    .stretchedbg(@redglow);
}
#modal
{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 10%;
    left: 5%;
    display: None;
}
.reliance
{
    position: relative;
    z-index:1000;
    width: 24%;
    height: 24%;
    top: 3%;
    left: 3%;
    background-image: url('../images/ril.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
#topbarholder{
    width: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
}

#topbar
{
    position: relative;
    right: 7%;
    font-family: 'Titillium Web';
    background-color: rgba(148,151,153,0.2);
}
#topbar ul
{
    list-style: none;

}
#topbar ul li
{
    color: white;
    float: right;
    margin-right: 2%;
}
#topbar ul li:hover
{
    color: #E5942B;
}
#topbar ul li a
{
    text-decoration: none;
    color: white;
}
#topbar ul li a:hover
{
    color: #E5942B;
}
h2
{
    position: absolute;
    color: white;
    text-align: center;
    font-family: @font-small;
    font-size: 80px;
    margin-left: 70px;
    margin-top: 100px;
}
