@import url(http://fonts.googleapis.com/css?family=Modern+Antiqua|Allura);
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*@modalheight: 480px;*/
/*@modalwidth: 960px;*/
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: '';
  display: block;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
#modal-overlay {
  min-width: 100%;
  min-height: 100%;
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  opacity: 0;
}
#modal-darkbg {
  min-width: 100%;
  min-height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}
#modal-frame {
  visibility: hidden;
  width: 80%;
  height: 80%;
  z-index: 1000;
  background-color: rgba(183, 242, 0, 0);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -38%;
  margin-top: -20%;
  zoom: 1;
  padding: 0;
}
#modal-frame:before {
  content: '';
  display: block;
}
#modal-frame:after {
  content: '';
  display: table;
  clear: both;
}
#modal-frame a:link,
#modal-frame a:hover,
#modal-frame a:active,
#modal-frame a.visited {
  color: #032e3e;
  text-shadow: 0 0 2px #18b8f5;
}
#left-modal {
  visibility: hidden;
  z-index: 1001;
  width: 35%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -5%;
  margin-top: 7.5%;
  background-color: #ef002a;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 40px;
  -webkit-border-top-left-radius: 40px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 40px;
  -moz-border-radius-topleft: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /*background-image: @leftbg;*/

  background-size: cover;
  padding: 0;
  box-shadow: inset 0 0 32px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}
h3.modaltitle {
  font-family: Bellerose, sans-serif;
  font-weight: 800;
  letter-spacing: -4px;
  word-spacing: -12px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 70px;
  line-height: 84px;
  position: relative;
  top: -11.200000000000001px;
  margin: 0;
}
.modaltitleholder {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  position: absolute;
  bottom: 50%;
  margin-bottom: -35px;
}
.modalmenu {
  position: absolute;
  top: 54%;
  margin-top: 35px;
  background: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  width: 100%;
  padding: 8px 0 8px 0;
}
.modalmenu ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.modalmenu li {
  font-family: Bellerose, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.9);
  line-height: 16px;
  float: left;
  text-align: center;
}
#right-modal {
  z-index: 1002;
  width: 70%;
  /*min-width: @rightwidth;*/

  height: 100%;
  /*min-height: @rightheight;*/

  /*background-color: @color1; */

  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.8);
  /*background-image: -webkit-radial-gradient(circle 1200px at -400px -200px, fade(white, 2%) 98%, rgba(255, 255, 255, 0) 100%);*/

  /*background-image: radial-gradient(circle 1200px at -200px -700px, fade(white, 2%) 99%, rgba(255, 255, 255, 0) 100%);*/

  /*box-shadow: 0 0 5px 2px fade(black, 60%), inset 0 0 6px fade(white, 15%);*/

  /*background-image: -webkit-linear-gradient( rgba(255, 255, 255, 0.2) ), @rightbg;*/

  /*background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), @rightbg;*/

  /*background-size: cover;*/

  /*background-position: center center;*/

  background-image: -webkit-radial-gradient(circle 1200px at -100px -100px, #0776a0, #3aa6d0);
  background-image: radial-gradient(circle 1200px at -100px -100px, #0776a0, #3aa6d0);
}
#right-modal div.content {
  position: absolute;
  top: 75px;
  color: rgba(0, 0, 0, 0.8);
  padding: 8px 32px 8px 32px;
  font-size: 18px;
  font-family: 'Modern Antiqua', serif;
  line-height: 24px;
  overflow: auto;
}
#right-modal div.content b {
  letter-spacing: -2px;
}
.modaltopmenu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 75px;
  /*min-width: 100%;*/

  /*min-height: @modaltopmenuheight;*/

  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  padding: 0;
  zoom: 1;
}
.modaltopmenu .menuitem {
  display: inline-block;
  font-family: Bellerose, sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  cursor: hand;
  height: 75px;
  position: relative;
  top: 0;
  padding: 0;
}
.modaltopmenu .menuitem.active {
  border-bottom: medium solid #3aa6d0;
}
.modaltopmenu .menuitem .menulabel {
  width: 100%;
  position: absolute;
  bottom: 16px;
  left: 0;
}
.modaltopmenu:before {
  content: '';
  display: block;
}
.modaltopmenu:after {
  content: '';
  display: table;
  clear: both;
}
.modalbottommenu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  /*min-width: 100%;*/

  /*min-height: @modalbottommenuheight;*/

  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  font-family: "Allura", serif;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.modalbottommenu .quote {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
}
.modalbottomquote {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 140px;
  height: 105px;
  opacity: .4;
  background-image: url("../images/quotes.png");
  background-repeat: no-repeat;
  background-size: 140px auto;
  background-position: 0% -10%;
}
