<!DOCTYPE html>
<head>
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Incident 2014</title>   
    <script src="/js/jquery.js"></script>
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <script src="/js/fuse.min.js"></script>
    <script src="/js/dockform.js"></script>
    <script src="/js/underscore-min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="top bar">
        Incident 14: admin panel | 
        <span class="user"> Logged in as {{current_user.email}} | <a href="/server/admin/mail"> Send updates as email to participants from here </a> | Have fun, guys. Talk to me about problems at 7204904436. Thota. </span>
    </div>
    <div class="row">
        <div class="notnarrow bar searchbox">
            <div class="row">
                <div class="barhead">Search Events/Participants: 
                    <input type="text" name="search" class="narrow" />
                </div>
            </div>
            <div class="row">
                <div class="notnarrow bar userresults mediumheight contain">
                    <div class="barhead">Participants: </div>
                </div>
            </div>
            <div class="row">
                <div class="notnarrow bar eventresults mediumheight contain">
                    <div class="barhead">Events: </div>
                </div>
            </div>
        </div>
        <div class="notnarrow bar details"> 
            <div class="barhead"> Details
            </div>
        </div>
        <div class="notnarrow bar adduser">
            <div class="barhead"> Add Participant
            </div>
            <div class="entry" id="addparticipantform">
            </div>
            Remember to refresh page after submitting a new participant.
        </div>
    </div>
</body>
    <script src="/js/admin.js"></script>
</html>
