{% import 'macros.jinja' as macros %}
<div class="profile registerbox">
    <form name="register" method="post" action="{{submit_url}}" id="registerform">
        {{ macros.with_errors(form.username) | safe }} 
        {{ macros.with_errors(form.email) | safe }}
        {{ macros.with_errors(form.fb_username) | safe }}
        {{ macros.with_errors(form.password) |safe }}
        {{ macros.with_errors(form.confirm) | safe }}
        <input type="submit" value="register"/>
    </form>
    <a class="boxclose" onClick="closebox();"></a>
</div>
