<p>
Hello {{name}},
</p><p>
Since we received a password reset request from your account on the Incident 2014 website,
we are sending this to you to reset your password:
</p><p>
Click on the link below to access your account again. You will be taken to a password reset page. Enter 
your new password there and then submit, then visit <a href="http://incident.co.in">Incident 2014</a> 
and log in.
</p><p>
Link: <a href="http://incident.co.in/resetpasswordreply/{{hash_digest}}">http://incident.co.in/resetpasswordreply/{{hash_digest}}</a>
</p><p>
If this link doesn't work, copy paste the url in your web browser's address bar. Mind you, it works only once :P. If you think 
you already wasted this chance, send reset request again.
</p><p>
If you still dont get access to your account, call us at 7204904436 (Siddhartha RT). 
</p><p>
Regards,
</p><p>
Siddharta RT
</p><p>
for the Web Team, Incident 2014.
</p>
