{% import 'macros.jinja' as macros %}
<div class="profile loginbox">
    {% if notloggedin %}
    You need to be logged in to reset password.
    {% else %}
    <form name="resetpassword" method="post" action="{{submit_url}}" id="resetpassword">
        <table>
            {{ macros.with_errors(form.password) | safe }} 
            {{ macros.with_errors(form.confirm) | safe }} 
            <tr><td></td><td><input type="submit" value="Submit" name="respasswordrequest" /></td></tr>
        </table>
    </form>
    {% endif %}
    <a class="boxclose" onClick='closebox();'></a>
</div>
