{% import 'macros.jinja' as macros %}
<div class="profile loginbox">
    {% if form %}
    <form name="resetpasswordrequest" method="post" action="{{submit_url}}" id="resetpasswordrequest">
        <table>
            {{ macros.with_errors(form.username) | safe }} 
            <tr><td></td><td><input type="submit" value="Submit" name="respasswordrequest" /></td></tr>
        </table>
    </form>
    {% else %}
    Oops! Bad username/email. Try again.
    {% endif %}
    <a class="boxclose" onClick='closebox();'></a>
</div>
