Options +ExecCGI
AddHandler fcgid-script .fcgi
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ inci-site.fcgi/$1 [QSA,L]
